.applied-job {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 24px;
}
.logo-container {
    /*width: 240px;*/
    /*height: 240px;*/
    /*padding: 95px 47px;*/
    background: #F4F4F4;
    border-radius: 8px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
}

.logo {
    width: 150px;
    height: 50px;
    padding: 95px 47px;
}

.company-info {
    margin-left: 32px;
    flex-grow: 1;
    /*display: block;*/
    /*align-items: center;*/
}

.location-salary {
    display: flex;
    width: max-content;
}

.btn-view-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 47px;
}