.featured-jobs-container {
    padding-left: 300px;
    padding-right: 300px;
}

.featured-jobs-title {
    font-size: 48px;
    text-align: center;
    color: #1A1919;
    margin-bottom: 16px;
}

.featured-jobs-info {
    text-align: center;
    color: #757575;
    margin-bottom: 32px;
}

.red {
    background-color: red;
}

.circulars {
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
}

.btn-all-jobs {
    display: flex;
    margin: 0 auto 130px;
}