.featured-jobs-title {
    font-size: 48px;
    text-align: center;
    color: #1A1919;
    margin-bottom: 16px;
}

.featured-jobs-info {
    text-align: center;
    color: #757575;
    margin-bottom: 32px;
}

.circulars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
}