.page-area {
    margin-top: 130px;
    margin-bottom: 130px;
    padding-left: 300px;
    padding-right: 300px;
}

.company-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    color: #757575;
}

.job-title {
    font-size: 24px;
    color: #474747;
    margin-bottom: 8px;
}