.banner {
    display: flex;
    padding-left: 300px;
    padding-right: 164px;
    align-items: center;
    gap: 30px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.banner .banner-info {
    width: 570px;
}

.banner .banner-info span {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner .banner-info p {
    font-size: 18px;
}

.banner .banner-info button {
    margin-top: 24px;
    margin-bottom: 32px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 19px 28px;
}

.banner img {
    width: 816px;
    height: 744px;
}