.header {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: space-between;
    align-items: center;
    /*margin: 0 auto;*/
    padding-left: 300px;
    padding-right: 300px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.site-title {
    font-size: 32px;
}

nav {
    display: flex;
}

nav a {
    margin-right: 10px;
    color: #757575;
}

button {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 19px 28px;
}