.category-list-container {
    padding-left: 300px;
    padding-right: 300px;
}

.category-list-title {
    margin-top: 130px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 48px;
    line-height: 66px;
    color: #1A1919;
}

.category-info {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
}

.categories {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
    padding-bottom: 130px;
}