.job-summary {
    width: 424px;
    padding: 30px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}

.job-summary h2 {
    font-weight: 800;
    font-size: 20px;
    color: #1A1919;
}

.job-data {
    display: flex;
    align-items: center;
}

.job-data p::before {
    content: "\00a0 ";
}

.job-data p {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
}

.highlighted-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
}

.btn-apply-now {
    margin-top: 24px;
    width: 100%;
}